extends layout

block content
  div!= page.html 
  div#log.newsection
    div.title
      hr.left
      span FLIGHT LOG
      hr.right

  div.container
    include author
    - var logarticles = _.chain(contents.articles._.directories).map(function(item) {
    -   return item.index
    - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
    -   return -item.date
    - }).filter(function(item) {
    -   if (typeof item.metadata.published != "undefined") {
    -     return (item.metadata.published && 1 + item.metadata.tags.search(/log/))
    -   }else {
    -     return false
    -   }
    - }).first(5).value() 
    each article in logarticles
      article.post
        header
          h2= article.title
        section.content!= article.html

  div#duo
    div.title
      hr.left
      span  SUNSEEKER DUO
      hr.right

  div.container
    - var duoarticles = _.chain(contents.articles._.directories).map(function(item) {
    -   return item.index
    - }).compact().sortBy(function(item) { 
    -   return -item.date
    - }).filter(function(item) {
    -   if (typeof item.metadata.tags != "undefined") {
    -     return (item.metadata.published && 1 + item.metadata.tags.search(/duo/))
    -   }else {
    -     return false
    -   }
    - }).first(5).value() 
    each article in duoarticles
      article.post
        header
          h2= article.title
        section.content!= article.html


  div#partners.newsection
    div.title
      hr.left
      span PARTNERS
      hr.right

    div.container
      - var alliancearticles = _.chain(contents.partners.alliances._.directories).map(function(item) {
      -   return item.index
      - }).compact().sortBy(function(item) { 
      -   return -item.date
      - }).filter(function(item) {
      -     return item.metadata.published
      - }).value()

      - var supportarticles = _.chain(contents.partners.support._.directories).map(function(item) {
      -   return item.index
      - }).compact().sortBy(function(item) { 
      -   return -item.date
      - }).filter(function(item) {
      -     return item.metadata.published
      - }).value()

      h2 Technical Alliances
      p Solar Flight's technical alliance are technology leaders of sport aviation. They contribute major resources to the construction of the Sunseeker Duo.
      table.partners
        each article in alliancearticles
          tr.partner
            td.logo!= article.html
            td.name= article.title

      h2 Materials and Systems Support
      p Solar Flight demands the best form every material, every component, and every system that it uses in its aircraft. The companies that support Solar Flight are the best in their fields.
      table.partners
        each article in supportarticles
          tr.partner
            td.logo!= article.html
            td.name= article.title


  div#heritage.newsection
    div.title
      hr.left
      span HERITAGE
      hr.right

    div.container
      - var heritagearticles = _.chain(contents.heritage._.directories).map(function(item) {
      -   return item.index
      - }).compact().sortBy(function(item) {
      -   return -item.metadata.rank
      - }).filter(function(item) {
      -     return item.metadata.published
      - }).value() 
      each article in heritagearticles
        article.post
          header
            h2= article.title
          section.content.clearfix!= article.html

  div#team.newsection
    div.title
      hr.left
      span TEAM
      hr.right
    div.container.team
      - var teamarticles = _.chain(contents.team._.directories).map(function(item) {
      -   item.index.metadata.pic = item['#{item.value()}.jpg']
      -   return item.index
      - }).compact().sortBy(function(item) { 
      -   return -item.date
      - }).filter(function(item) {
      -     return item.metadata.published
      - }).value() 
      each article in teamarticles
        article.post
          header
            h2= article.title
          section.content.clearfix!= article.html

  div#contact
    a(name="contact")
    p contact
  


